
apiVersion: v1
kind: ConfigMap
metadata:
  name: my-app-config
data:
  APP_ENV: "production"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app-container
        image: registry.gitlab.com/type113/beadando-devops:latest
        ports:
        - containerPort: 8080
        env:
        
        - name: MY_ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: my-app-config
              key: APP_ENV

---
apiVersion: v1
kind: Service
metadata:
  name: my-app-service
spec:
  type: ClusterIP
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80      
      targetPort: 8080 
